<p style="margin: 0;">
    <strong style="-ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%;">SmartDeploy</strong>
    <br style="-ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%;" />
    <a href="https://www.google.com/maps/place/12100+Northup+Way,+Bellevue,+WA+98005/@47.6308923,-122.1802918,17z/data=!3m1!4b1!4m5!3m4!1s0x54906ce51f5887c1:0x2d31f52c2881661b!8m2!3d47.6308923!4d-122.1781031" class="mobile-link--footer samsung-address no-link-style" style="-ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%; color: #595655; font-family: 'Open Sans', Arial, sans-serif; font-size: inherit; font-weight: normal; line-height: inherit; text-decoration: none !important;">
        <span style="-ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%; color: #595655; font-family: 'Open Sans', Arial, sans-serif; font-weight: normal; text-decoration: none !important;">12100 Northup Way, Suite 100, Bellevue, WA 98005</span>
    </a> 
    <br style="-ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%;" />
    <span class="mobile-link--footer" style="-ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%;">
        <a href="tel:1-888-733-7563" class="no-link-style"
            style="-ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%; color: #595655; font-family: 'Open Sans', Arial, sans-serif; font-weight: normal; text-decoration: none !important;">
            <span style="-ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%; color: #595655; font-family: 'Open Sans', Arial, sans-serif; font-weight: normal; text-decoration: none !important;">888.7DEPLOY</span>
        </a>
        <span style="-ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%; color: #7ec4c1;">|</span>
        <a href="mailto:sales@smartdeploy.com" class="footer no-link-style" style="-ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%; color: #888888 !important; font-family: 'Open Sans', Arial, sans-serif; font-weight: 100 !important; text-decoration: none !important;">
            <span style="-ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%; color: #595655; font-family: 'Open Sans', Arial, sans-serif; font-weight: normal; text-decoration: none !important">sales@smartdeploy.com</span>
        </a>
    </span>
    <br style="-ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%;" />
</p>
